@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        @*<div class=" col-sm-6 col-md col-lg-4">*@
            <img class="card-img-top" src="~/images/Career.jpg" />
        @*</div>*@
        <h1 class="display-4">Welcome to Career Cloud</h1>
        @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    </div>
